@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

/*Zerando o padding do ul*/
ul 
{    
    padding: 0px;
}

/*Menu superior e inferior exibidos em linha com borda*/
#menu-topo li, #menu-botton li
{
    list-style-type: none;
    border-right: solid 1px black;
    display: inline-block;
    padding: 1px 10px 1px 10px;
}

/*Personalização do menu superior em linha*/
#menu-aux li {
    list-style-type: none;    
    border: 1px solid rgb(3, 3, 3); 
    padding: 5px;
    margin-left: 1px;
    margin-right: 5px;
    font-weight: bold;
    font-family: 'Aladin', cursive;
    display: inline-block;
}

/*Personalização dos menus laterais esquerdo*/
#lateral-esq li 
	{
	list-style-type: none;
	margin-bottom: 10px;     
	border: solid 1px rgb(3, 3, 3); 
	padding: 5px;
	margin-left: 1px;
	font-weight: bold;
	font-family: 'Aladin', cursive;
	}

#lateral-esq #midias
{
	border: solid 1px black;
}
	
#lateral-esq #midias li{	
	list-style-type: circle;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 0px 0px 0px 5px;     
	border: none; 		
}

/*Personalização da formatação do menu superior e lateral esquerdo para visitado e link*/
#lateral-esq li :link
{
    text-decoration: none;
    color: black;
}
#lateral-esq li :visited
{
    text-decoration: none;
    color: black;
}
#menu-aux li :visited, li :link
{
    text-decoration: none;
    color: black;
}

/*Personalização do hover do menu superior e lateral esquerdo*/
#lateral-esq ul :hover, #menu-aux ul :hover 
{    
    background-color: #b87113;
}
/*Responsividade e formatação da imagem da notícia principal*/
#noticia-central img {
    width: 50%;
    height: auto;
}
/*Responsividade e formatação da imagem da principal da lateral direita*/
#lateral-direita img {
    width: 70%;
    height: auto; 
}
/*Responsividade e formatação das imagens do smallpost na laterial direita*/
#smallpost1 img, #smallpost2 img {      
    float: left;
    width: 40%;
    height: auto;  
    margin-right: 5px;  
}
/*Responsividade e formatação da imagem na lateral esquerda*/
#lateral-esq img{
    width: 100%;
    height: auto;    
}
/*Limpando a float after para as imagens não desrespeitarem o block no qual está inserida*/
#smallpost1:after, #smallpost2:after {
    content: "";
    display: block;
    clear: both;
}
/*Responsividade e formatação da imagem do logo superior*/
#logo-lateral img{
    width: 50%;
    height: auto; 
    margin-left: 30px;
    padding: 10px;
}
/*Alinhamento à direita dos textos superior e inferior direito*/
#lateral-sup-dir, #lateral-inf-dir
{
    text-align: right;  
}
/*Alinhamento do botão e texto no centro inferior*/
#lateral-inf-centro
{
    text-align: center;  
}
footer h6
{    
	margin: 0px;
	padding: 0px;
}

/*Fundo transparente para os itens principais do site*/
#lateral-esq, #noticia-central, #lateral-direita
{
    background-color: transparent;
}

/*Tamanho da imagem do voltar ao topo*/
#lateral-inf-centro img
{
    width: 20px;
    height: 20px;
}
/*Pacotes Grid*/
.grid-container-sup {    
    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f5e5dad7;
    grid-column-gap: 50px;
    padding: 5px; 
    margin: 0px 50px 10px 50px;   
}
.grid-item-sup {
    background-color: transparent;    
    padding: 5px;   
    grid-row-gap: 10px;            
}
.grid-container {    
    display: inline-grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #ebd7cad7;
    grid-column-gap: 30px;
    padding: 10px;
    margin: 20px 50px 20px 50px;            
}
.grid-item {
    background-color: rgba(224, 208, 193, 0.753);    
    padding: 20px;  
    margin-bottom: 20px;
}
.grid-container-inf
{        
    display: grid;       
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 30px;
    padding: 10px;
    margin: 0px 50px 20px 50px;
	border-top: solid 1px black;
}
.grid-item-inf {
    background-color: transparent;  
    grid-row-gap: 10px;              
}



