@import url(“mediaquery.css”);

.grid-container
{   
    display: grid;
    grid-template-columns: 1fr;          
    width: 500px;
    margin: auto;
}

.grid-item
{
    width: auto;    
    display: grid;
    background-color: #ff16a2; 
    margin: auto ;     
}

.main-img
{
    width: auto;
    max-width:500px;       
    height: auto;    
    box-sizing: border-box;
}

footer
{         
    padding: 1em 0 0.5em 1em;
    color: black;   
    font-family: 'IBM Plex Serif', serif;
}  
 

footer > #atendimento
{        
    color: white;
    font-size: small;
}

span
{
    font-weight: bold;    
}


.social-media
{
    max-width:30px;
}

#menutopo
{
    padding: 0.5em;
}