.grid-container
{   
    display: grid;
    grid-template-columns: 1fr;    
    justify-content: center; 
    max-width: 500px;
    margin: auto;  
}
.grid-item
{
    padding: 0;  
    margin: 0;        
    gap: 0;
    text-decoration: none; 
    display: grid;
    background-color: gold;
}

.sobre
{    
    font-family: 'IBM Plex Serif', serif;
    background-color: rgb(14, 159, 226); 
    font-weight: bold;
    color: white;
    padding: 1em;    
}

.main-img
{
    max-width:100%;
    max-height:100%;    
    height: auto;
}

footer
{
    margin-left: auto; 
    margin-right: 0;
}
